html, body, .cover {
	height: 100%;
}

.cover {
    width: 1250px;
    margin: 0 auto;
	background: url('../img/couchfriends.webp') center center no-repeat;
    display: table;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 20%;

    box-shadow: inset 0 0 100px #000;
}

body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */


    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cover-text {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.cover-text h1 {
	margin: 0;
	font-size: 70px;
	letter-spacing: -3px;
}

nav.navbar-inverse {
	opacity: 0.85;
	border: none;
}

.testimonial {
	background: #222;
}

blockquote {
	border: none;
	margin: 0;
	font-family: Georgia, Times, serif;
	font-style: italic;
	font-size: 32px;
	color: white;
}

blockquote cite {
	/*display: block;*/
	/*text-align: right;*/
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 18px;
	font-weight: bold;
	color: #888;
	margin-top: 40px;
}

section {
    width: 1250px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

#services {
    background-color: white;
}

#why-us {
    background-color: white;
}

h1 {

    color: black;

}

.front {
    color: black;
}

h2 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 60px;
}

h2 + p {
	text-align: center;
	margin-top: -60px;

}

.detail-justified {
    text-align: justify;
    text-justify: inter-word;
}


#why-us div div div p, 
#why-us div div div h3,
#why-us h2 {
    
    color: black;
    
}

#team {

	background: url('../img/street.JPG');
	background-size: cover;
	color: white;
	text-align: center;
}



footer {
	background: #222;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: Georgia, Times, serif;
}

footer a {
	color: orange;
}

.fbcontact {
	text-align: center;
	color: black;
	display: table-cell;
	vertical-align: middle;
}

.row-fluid {
    min-height: 800px;
    padding-bottom: 20px;
}

.colorizeblue {
    background-color: aquamarine;
}

.property-row {
    position: relative;
    padding-bottom: 20px;
}

.projects-row {
    background: blue;
    height: 500px;
    position: relative;
    width: 100%;
    margin: auto;
}

.projects-row div {
    
    width: 100%;
    height: 200px;
    background: pink;
    display: inline-block;
    
}

/* Media Queries */

@media only screen and (max-width: 568px) {
	.cover h1{
		font-size: 40px;
	}
	section {
		padding: 20px;
	}
    



}

@media only screen and (max-width: 360px) {
	.cover h1{
		font-size: 40px;
	}
    
    .property-item {
        margin-left: -30px; 
        padding-bottom: 10px;
    }
    
    .property-row {
    padding-bottom: 0px;
    }
    


}